/* ----- Variables ----- */
$primary-color-light : #33CCCC;
$primary-color-dark : #333366;
$secondary-color-light : #ff6633;
$secondary-color-less-saturated : #FFCC99;
$degrade-primary-colors : linear-gradient(to left top, #33cccc, #00a6c2, #007fae, #1e598e, #333366);
$degrade-secondary-colors : linear-gradient(to left top, #ff6633 0%, #ff8446 50%, #ff9e5e 70%, #ffb67a 90%, #ffcc99 100%);
$roboto : "Roboto", helvetica, arial, sans-serif;
$rubik : "Rubik", "Roboto", Helvetica, Arial, sans-serif;

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }
    #{$property}: $value;
}

/* ----- GENERAL ----- */
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Roboto", arial, sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}

.container{
    display: block;
    max-width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

.img-responsive{
    max-width: 100%;
}

/* ----- TITRES  ----- */
h1 {
    font-size: 2em;
    text-shadow: 1px 4px 7px rgba(0,0,0,0.8);
}

h2 {
    font-family: $roboto;
    font-weight: 400;
    font-size: 1.3em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
    margin-block-start: 0;
    margin-block-end: 0;
}

h5 {
    font-size: 1.3em;
    font-weight: 700;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

h1, h3, h4 {
    font-weight: 900;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}

h1, h3, h4, h5 {
    font-family: $rubik;
}

h4, h5 {
    text-align: center;
}


@media(max-width:576px){
    h1 {
        font-size: 1.3em;
    }

    h2 {
        font-size: 0.9em;
    }
}

/* ----- Span ----- */
.text-hilight {
    font-weight: 600;
}

/* ----- BUTTONS ----- */
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 5px;
    margin: 0;
}

.buttons-style {
    font-family: $rubik;
    background-color: $secondary-color-light;
    background-image: linear-gradient(to left top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 80%, rgba(255,255,255,0.4) 100%);
    padding: 12px 35px;
    border-radius: 5px;
    font-weight: 500;
    color: #fff;
    display: block;
    width: 125px;
    text-align: center;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.buttons-style:hover {
    @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
    @include property_complex(box-shadow, 0px 1px 4px rgba(0,0,0,0.3), o moz webkit ms khtml);
    background-color: rgb(255, 91, 30);
}


/* ----- LIENS ----- */
a {
    text-decoration: none;
    color: #000;
}

a:hover{
    font-weight: 500;
}




/* ----- Responsive ----- */
@media(min-width:576px){
    .container{
        max-width: 540px;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
    }
}

@media(min-width:768px){
    .container{
        max-width: 720px;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
    }
}

@media(min-width:992px){
    .container{
        max-width: 960px;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
    }
}

@media(min-width:1200px){
    .container{
        max-width: 1140px;
        margin-left: 0;
        margin-right: 0;
        margin: auto;
    }
}