/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }

    #{$property}: $value;
}

/*-----Banner-----*/
#banniere {
    .img-banniere-dronedeluxe {
        background-image: url(../img/servdrone_deluxe.jpg);
    }
}

/*-----Product and features-----*/
#product_deluxe {
    width: 100%;
    margin: 3em auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include property_complex(border-radius, 0.5em, o moz webkit ms khtml);
    color: white;
    background-image: url(../img/fond-ciel.jpg);
    @include property_complex(box-shadow, 0px 2px 3px rgba(0, 0, 0, 0.4), o moz webkit ms khtml);


    img {
        width: 20em;
    }

    #features {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 1em;
        padding-bottom: 1em;

        h4 {
            font-size: 1.5em;
        }

        h3,
        h4 {
            @include property_complex(text-shadow, 0px 2px 3px rgba(0, 0, 0, 0.4), o moz webkit ms khtml);
        }

        h3,
        h4,
        .buttons-style,
        #guarantee,
        p {
            margin: 0.4em 0;
        }

        .buttons-style {
            width: 9em;
        }

        #guarantee {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            i {
                margin-right: 0.5em;
            }

            p {
                font-weight: 400;
            }
        }
    }

}

/*-----Services list and pictures-----*/
#services {
    margin-bottom: 3em;

    h3 {
        text-align: center;
    }

    #list_services {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;

        ul {
            list-style-type: none;

            li {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                i {
                    margin-right: 0.5em;
                }
            }
        }

        #service_img {
            width: 50%;
            display: flex;

            .column_img {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    margin: 0.5em 0em;
                }
            }

        }
    }

    #new_services_deluxe {
        display: flex;
        justify-content: space-between;

        #new_services,
        #security_services {
            display: flex;
            flex-direction: column;
            align-items: center;

            ul {
                list-style-type: none;
                background: linear-gradient(to left top, #007FAE, #1E598E, #336);
                border-radius: 10px;
                color: #fff;
                padding: 2em;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    i {
                        margin-right: 0.5em;
                    }
                }
            }
        }
    }
}




/*-----Responsive design-----*/
@media(max-width: 1200px) {
    .column_img {
        img {
            width: 13em;
        }
    }
}

@media(max-width: 992px) {
    #services {
        #list_services {
            #service_img {
                .column_img {
                    img {
                        width: 10em;
                    }
                }
            }
        }

        #new_services_deluxe {
            flex-direction: column;
            align-items: center;
        }
    }
}

@media(max-width: 768px) {
    #product_deluxe {

        img {
            width: 18em;
        }
    }

    #services {

        #list_services {

            ul {

                li {
                    width: 80%;
                }
            }

            #service_img {
                align-self: center;
                width: 30%;
                flex-direction: column;

                .column_img {

                    img {
                        width: 8em;
                    }
                }
            }
        }
    }
}

@media(max-width: 576px) {
    #product_deluxe {
        flex-wrap: wrap;
    }

    #services {

        #list_services {
            flex-direction: column;

            #service_img {
                width: 100%;

                .column_img {
                    margin: auto;

                    img {
                        width: 15em;
                    }
                }
            }
        }
    }
}