/* ----- Variables ----- */
$primary-color-light : #33CCCC;
$primary-color-dark : #333366;
$secondary-color-light : #ff6633;
$secondary-color-less-saturated : #FFCC99;
$degrade-primary-colors : linear-gradient(to left top, #33cccc, #00a6c2, #007fae, #1e598e, #333366);
$degrade-primary-colors-2 : linear-gradient(to left top, #007fae, #1e598e, #333366);
$degrade-secondary-colors : linear-gradient(to left top, #ff6633 0%, #ff8446 50%, #ff9e5e 70%, #ffb67a 90%, #ffcc99 100%);
$roboto : "Roboto", helvetica, arial, sans-serif;
$rubik : "Rubik", "Roboto", Helvetica, Arial, sans-serif;

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }
    #{$property}: $value;
}


/* ----- Image banniere ----- */
#banniere {
    .img-banniere-faq {
        background-image: url(../img/drone-maison.jpg); /* A CHANGER */
    }
}

/* ----- Section FAQ ----- */
#faq {
    margin-top: 5em;
    margin-bottom: 5em;

    h3 {
        text-align: center;
    }

    .questions-align {
        .question {
            padding: 1em 2em;
            margin-bottom: 1em;
            background-image: $degrade-primary-colors-2;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;

            .button-question {
                float: right;
                margin-top: 1em;

                i {
                    font-size: 1em;
                    color: #fff;
                }
            }

            .moins {
                .fa-plus:before {
                    content: "\f068";
                }
            }

            .question-text {
                font-family: $rubik;
                font-weight: 500;
                font-size: 1.1em;
            }
        }
    }

    .answer-text {
        display: none;
    }

    .answer {
        display: block;
    }
}