/* ----- Variables ----- */
$primary-color-light : #33CCCC;
$primary-color-dark : #333366;
$secondary-color-light : #ff6633;
$secondary-color-less-saturated : #FFCC99;
$degrade-primary-colors : linear-gradient(to left top, #33cccc, #00a6c2, #007fae, #1e598e, #333366);
$degrade-secondary-colors : linear-gradient(to left top, #ff6633 0%, #ff8446 50%, #ff9e5e 70%, #ffb67a 90%, #ffcc99 100%);

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }

    #{$property}: $value;
}

/* ----- Application overview ----*/
#app_overview {

    .app_content {
        margin-top: 5em;
        padding-bottom: 5em;
        display: flex;
        justify-content: space-around;

        #app_presentation {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            margin-left: 2em;

            h3,
            p {
                margin: 0;
            }

            #store {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 70%;

                .logo_store {
                    width: 10em;
                    margin: 0;
                }

                .android {
                    width: 10.5em;
                }

            }
        }
    }
}




/* ----- Blocs drones ----- */
#drones-blocks {
    margin-top: 5em;
    margin-bottom: 5em;

    h3 {
        text-align: center;
    }

    .alignement-blocks-drones {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .drone-block {
            width: calc(100% / 3 - 1em);
            background: #fff;
            border-radius: 10px;
            @include property_complex(box-shadow, 0px 3px 4px rgba(0, 0, 0, 0.6), o moz webkit ms khtml);
            display: block;
            overflow: hidden;

            .drone-image-container {
                width: 100%;
                height: 250px;
                overflow: hidden;

                .drone-image {
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-size: cover;
                    @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
                }
    
                .drone-image-class-1 {
                    background-image: url(../img/servdrone_class1.jpg);
                }
    
                .drone-image-plus {
                    background-image: url(../img/servdrone_plus.jpg);
                }
    
                .drone-image-deluxe {
                    background-image: url(../img/servdrone_deluxe.jpg);
                }

            }

            .drone-image-container:hover {
                .drone-image {
                    transform: scale(1.2);
                    @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
                }
            } 

            .drone-block-margin {
                display: block;
                margin: auto;
                margin-left: 2em;
                margin-right: 2em;
                position: relative;
                top: -3.5em;

                .drone-content {
                    background-color: #fff;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    padding-bottom: 3em;
                    padding-top: 1em;
                    text-align: center;

                    .drone-prix {
                        font-size: 1.3em;
                        font-weight: 800;

                    }

                    .drone-infos {
                        font-size: 1em;
                        font-weight: 400;
                    }

                    .drone-infos-services {
                        font-size: 0.9em;
                        font-style: italic;
                    }

                    .drone-garantie {
                        font-size: 1em;
                        font-weight: 600;
                    }
                }

                .button-drone-margin {
                    position: absolute;
                    bottom: -3em;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}

/* -- Responsive -- */
@media (max-width:1200px) {

    #app_overview {
        .app_content {
            flex-direction: column;
            align-items: center;

            #app_presentation {
                margin-left: 0;

                h3,
                p,
                #store {
                    margin: 0.5em;
                    text-align: center;
                }

                p {
                    width: 100%;
                }

                #store {
                    align-self: center;
                    width: 50%;
                }
            }
        }
    }


    #drones-blocks {
        .alignement-blocks-drones {
            .drone-block {
                width: calc(100% / 3 - 0.5em);

                .drone-block-margin {
                    margin-left: 1em;
                    margin-right: 1em;
                }
            }
        }
    }
}

@media (max-width:992px) {
    #drones-blocks {
        .alignement-blocks-drones {
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .drone-block {
                width: 50%;
                margin-bottom: 1em;
            }
        }
    }
}

@media (max-width:768px) {
    #app_overview {
        .app_content {
            img {
                width: 90%;
            }

            #app_presentation {
                #store {
                    width: 80%
                }
            }
        }
    }

    #drones-blocks {
        .alignement-blocks-drones {
            .drone-block {
                width: 80%;
            }
        }
    }
}

@media (max-width:576px) {

    #app_overview {
        .app_content {
            #app_presentation {
                #store {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .android {
                        margin-top: 1em;
                    }
                }
            }
        }
    }

    #drones-blocks {
        .alignement-blocks-drones {
            .drone-block {
                width: 100%;
            }
        }
    }
}