.legal_informations {
    margin-bottom: 4em;
    
    .container {
        h1 {
            text-shadow: none;
            text-align: center;
            margin-top: 2em;
            margin-bottom: 2em;
        }

        .legal_content {
            h3 {
                font-size: 1.3em;
                margin-top: 3em;
            }

            p, li {
                font-weight: 400;
            }

            li {
                margin-top: 1em;
            }
        }
    }
}