/* ----- Variables ----- */
$primary-color-light : #33CCCC;
$primary-color-dark : #333366;
$secondary-color-light : #FF6633;
$secondary-color-less-saturated : #FFCC99;
$degrade-primary-colors : linear-gradient(to left top, #33cccc, #00a6c2, #007fae, #1e598e, #333366);
$degrade-primary-colors-2 : linear-gradient(to left top, #007fae, #1e598e, #333366);
$degrade-secondary-colors : linear-gradient(to left top, #ff6633, #ff8446, #ff9e5e, #ffb67a, #ffcc99);

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }
    #{$property}: $value;
}


/* ----- Change image of banner ----- */
#banniere {
    .img-banniere-medias {
        background-image: url(../img/medias_drone.jpg);
    }
}

/* ----- Section contact ----- */
#medias {
    margin-top: 4em;
    margin-bottom: 4em;

    .container-articles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .article {
            width: calc(100% / 2 - 4em);
            margin: 0 1em;
            background-color: #fff;
            border-radius: 5px;
            @include property_complex(box-shadow, 0px 1px 4px rgba(0,0,0,0.3), o moz webkit ms khtml);
            padding: 1em;
            display: flex;
            flex-wrap: wrap;
            @include property_complex(transition, ease 0.3s, o moz webkit ms khtml);

            .img-article {
                width: 35%;
                height: 100%;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    object-position: center;
                }
            }

            .contenu-article {
                margin-left: 1em;
                width: calc(65% - 1em);
                position: relative;
                height: 100%;
                margin-bottom: 4em;

                .buttons-style {
                    width: 65%;
                    position: absolute;
                    bottom: 0;
                    margin: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                }

                h5 {
                    text-align: left;
                }
            }

        }

        .article:hover {
            @include property_complex(transition, ease 0.3s, o moz webkit ms khtml);
            @include property_complex(box-shadow, 1px 2px 6px rgba(0,0,0,0.6), o moz webkit ms khtml);
            @include property_complex(transform, scale(1.03), o moz webkit ms khtml);
        }
    }
}


/* ----- Responsive ----- */
@media(max-width:992px) {
    #medias {
        margin-top: 4em;
        margin-bottom: 4em;
    
        .container-articles {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
    
            .article {
                width: calc(100% - 2em);
                margin: 1em 0;
            }
        }
    }
}

@media(max-width:576px) {
    #medias {
        margin-top: 4em;
        margin-bottom: 4em;
    
        .container-articles {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
    
            .article {
                .img-article {
                    width: 100%;
                    height: 250px;
    
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        object-position: center;
                    }
                }
    
                .contenu-article {
                    margin-left: 0;
                    width: 100%;
                    height: auto;
                    margin-bottom: 0;
    
                    .buttons-style {
                        width: auto;
                        position: relative;
                        bottom: 0;
                        margin: 2em 0 1em 0;
                        left: inherit;;
                        transform: translate(0);
                    }
    
                    h5 {
                        text-align: center;
                    }
                }
    
            }
        }
    }
}