/* ----- Variables ----- */
$primary-color-light : #33CCCC;
$primary-color-dark : #333366;
$secondary-color-light : #FF6633;
$secondary-color-less-saturated : #FFCC99;
$degrade-primary-colors : linear-gradient(to left top, #33cccc, #00a6c2, #007fae, #1e598e, #333366);
$degrade-secondary-colors : linear-gradient(to left top, #ff6633, #ff8446, #ff9e5e, #ffb67a, #ffcc99);

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }
    #{$property}: $value;
}

#banniere {

    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    overflow: auto;

    .img-banniere {
        background-image: url(../img/drone-foret.jpg);
        height: calc(100vh - 160px);
        display: block;
        position: relative;
        background-position: 0% 50%;
        background-repeat: no-repeat;
        background-size: cover;

        .titles-banniere {
            display: block;
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translate(10%, -50%);
            text-align: center;
            color: #fff;

            .title-two {
                display: block;
                background-color: $secondary-color-light;
                padding: 5px 20px;
                border-radius: 10px;
                @include property_complex(box-shadow, 1px 2px 6px rgba(0,0,0,0.5), o moz webkit ms khtml);
            }
        }
    }
}


/* ----- Responsive ----- */
@media(max-width:768px){
    #banniere {
        .img-banniere {
                background-position: center;
                height: 100vh;

             .titles-banniere {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                color: #fff;
                width: fit-content;
                margin-right: 30px;
            }
        }
    }
}

@media(max-height:520px){
    #banniere .img-banniere {
        height: 500px;
    }
}