/* ----- Variables ----- */
$primary-color-light : #33CCCC;
$primary-color-dark : #333366;
$secondary-color-light : #FF6633;
$secondary-color-less-saturated : #FFCC99;
$degrade-primary-colors : linear-gradient(to left top, #33cccc, #00a6c2, #007fae, #1e598e, #333366);
$degrade-secondary-colors : linear-gradient(to left top, #ff6633, #ff8446, #ff9e5e, #ffb67a, #ffcc99);

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }
    #{$property}: $value;
}

/* ----- Change image of banner ----- */
#banniere {
    .img-banniere-contact {
        background-image: url(../img/contact-drone.jpg);
    }
}

/* ----- Section contact ----- */
#contact {
    margin-top: 4em;
    margin-bottom: 4em;

    .contact-flex {
        display: flex;
        flex-wrap: wrap;

        .form-contact {
            width: calc(50% - 2em);
            margin-left: 1em;
            margin-right: 1em;
            background: $degrade-primary-colors;
            border-radius: 10px;
            color: #fff;

            .form-alignement {
                display: block;
                margin: 2em 4em;
                height: 605px;
                overflow: hidden;
                position: relative;

                h3 {
                    text-align: center;
                    color: #fff;
                }

                .underline-form-contact {
                    display: block;
                    width: 80%;
                    height: 3px;
                    border-radius: 10px;
                    background-color: #fff;
                    margin: auto;
                }

                .contact-infos-small {
                    text-align: center;
                    font-size: 0.8em;
                }

                #contact-form {
                    display: flex;
                    flex-wrap: wrap;

                    .contact-form-style {
                        width: 100%;
                        padding: 10px 25px;
                        margin-bottom: 1em;
                        border-radius: 5px;
                        border: none;
                        font-family: "Roboto", Helvetica, Arial, Helvetica, sans-serif;
                        font-size: 0.9em;
                        resize: vertical;
                    }

                    .contact-form-style:focus {
                        outline: solid 3px $secondary-color-less-saturated;
                    }

                    .boutons-check {
                        display: flex;
                        align-items: flex-start;
                        margin-bottom: 1em;
                        width: 100%;

                        p {
                            margin-block-start: 0;
                            margin-block-end: 0;
                            font-size: 0.9em;
                            margin-left: 1em;

                            a {
                                color: rgba(255,255,255,0.8);
                                font-weight: 400;
                            }

                            a:hover {
                                color: rgba(255,255,255,1);
                                font-weight: 400;
                            }
                        }
                    }

                    button {
                        width: 100%;
                        font-size: 1rem;
                    }
                }
            }
        }

        .infos-contact {
            width: calc(50% - 2em);
            margin-left: 1em;
            margin-right: 1em;

            h3 {
                text-align: center;
            }

            .info-contact {
                display: flex;
                align-items: flex-start;
                margin-bottom: 2em;
                width: 100%;

                i {
                    font-size: 1.5em;
                    color: $primary-color-dark;
                    margin-right: 1em;
                }

                p {
                    margin-block-start: 0;
                    margin-block-end: 0;
                }

                .text-secondary {
                    font-size: 0.8em;
                }
            }

            .contact-map-google {
                display: block;
                width: 100%;
                height: 59%;

                .map-contact {
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                }
            }
        }
    }
}

/* ----- Form transition ----- */
.form-display-none {
    @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
    @include property_complex(transform, translateX(-100%), o moz webkit ms khtml);
}

/* Form hidden, show when message is send */
#form-after {
    position: absolute;
    top: 5em;

    .alignement-form-after {
        display: block;
        text-align: center;
        margin-top: 3em;

        i {
            font-size: 3em;
            margin-bottom: 0.5em;
        }
    }
    button {
        width: 100%;
        font-size: 1rem;
    }
}

.form-display-none2 {
    display: none;
    opacity: 0;
    @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
}

.form-display-block {
    display: block;
    opacity: 1;
    @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
}

/* ----- Responsive ----- */
@media(max-width:1200px) {
    #contact {
        .contact-flex {
            .form-contact {
                .form-alignement {
                    height: 640px;
                }
            } 
        } 
    } 
}

@media(max-width:992px) {
    #contact {
        margin-bottom: 10em;
        .contact-flex {
            .form-contact {
                width: calc(100% - 2em);
                .form-alignement {
                    height: auto;
                }
            }
            .infos-contact {
                margin-top: 2em;
                width: calc(100% - 2em);
            }
        }
    }
}

@media(max-width:576px) {
    #contact {
        .contact-flex {
            .form-contact {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                .form-alignement {
                    margin: 1em 1em;
                }
            }
            .infos-contact {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}