/* ----- Variables ----- */
$primary-color-light : #33CCCC;
$primary-color-dark : #333366;
$secondary-color-light : #FF6633;
$secondary-color-less-saturated : #FFCC99;
$degrade-primary-colors : linear-gradient(to left top, #33cccc, #00a6c2, #007fae, #1e598e, #333366);
$degrade-primary-colors-2 : linear-gradient(to left top, #007fae, #1e598e, #333366);
$degrade-secondary-colors : linear-gradient(to left top, #ff6633, #ff8446, #ff9e5e, #ffb67a, #ffcc99);

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }

    #{$property}: $value;
}


/*-----Banner-----*/
#banniere {
    .img-banniere-event {
        background-image: url(../img/drone_event.jpg);
    }
}


/* ----- Section events ----- */
#events {
    margin-top: 4em;
    margin-bottom: 4em;

    .events-content {
        display: flex;
        justify-content: space-between;

        .contain-event {
            position: relative;
            display: flex;
            @include property_complex(transition, ease 0.3s, o moz webkit ms khtml);
            border-radius: 5px;
            @include property_complex(box-shadow, 0px 1px 4px rgba(0, 0, 0, 0.3), o moz webkit ms khtml);
            margin: 0 1em;
            padding: 1em;
            width: 50%;
            flex-direction: column;

            h5 {
                margin-top: 0;
                margin-bottom: 0;
            }


            .title {
                display: flex;
                align-items: flex-start;

                .date {
                    padding: 1em;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border: 1px solid black;
                    margin-right: 1em;
                }

                h5 {
                    align-self: center;
                    text-align: left;
                }
            }

            .describe {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;

                .text {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .date_event {
                        font-weight: bold;
                        font-style: italic;
                    }
                }

                .buttons-style {
                    align-self: center;
                    margin: 0;
                    margin-top: 1em;
                }
            }
        }

        .contain-event:hover {
            @include property_complex(transition, ease 0.3s, o moz webkit ms khtml);
            @include property_complex(box-shadow, 1px 2px 6px rgba(0,0,0,0.6), o moz webkit ms khtml);
        }
    }
}


/* ----- Responsive ----- */
@media(max-width:992px) {
    #events {

        .events-content {
            flex-direction: column;
            align-items: center;

            .contain-event {
               width: calc(100% - 2em);
                margin-top: 1em;
            }
        }
    }
}