
.body-content{
    margin: 0;
}
.content{
    width: calc(100% / 3 - 2em);
}

#banniere {
    .img-banniere-fondateurs {
        background-image: url(../img/drone-fondateurs.jpg);
    }
}

.main{
        position: relative;
        display: flex;
        flex-flow: row wrap;
        
        justify-content: space-around;
}
.animation{
   
     width: 140px;
     height: 140px;
     border-radius: 500px;
    
     margin: auto;
     margin-bottom: 3em;
     margin-top: 3em;
    
     overflow: hidden;
     display: block;
}
.animation img{
    position: relative;
    width: 100%;
}
.shadaw:hover{
    transform: scale(1.2);
    -webkit-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    -moz-transition:ease 0.5s;
    -ms-transition:ease 0.5s;
    transition:ease 0.5s;
    transition-property: all;
    transition-duration: 0.9s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.name{
    text-align: center;
    
}


.main .content .stylTitel{
 
    height: 6em;
    font-size: 1em;
    text-align: center;
    margin: 1em 2em;
}

.text1{
        
        position: relative;
        color: white;
        padding: 2em;
        font-size: 1em;
        text-align: justify;   
}
.main .block{
    margin: 0%;
    position: relative;
    background-image: linear-gradient(to left top, #007fae, #1e598e, #336);
    border-radius: 10px;
  
    margin-bottom: 30px;
}

@media(max-width:992px){
    .content{
        width: calc(100% - 2em);
    }
    .main .content .stylTitel{
        height: auto;
        padding-bottom: 1em;
    }
}

@media(max-width:576px){
    .content{
        width: 100%;
    }
    .text1 {
        padding: 2em 1em;
    }
}