/* ----- Variables ----- */
$primary-color-light : #33CCCC;
$primary-color-dark : #333366;
$secondary-color-light : #FF6633;
$secondary-color-less-saturated : #FFCC99;
$degrade-primary-colors : linear-gradient(to left top, #33cccc, #00a6c2, #007fae, #1e598e, #333366);
$degrade-secondary-colors : linear-gradient(to left top, #ff6633, #ff8446, #ff9e5e, #ffb67a, #ffcc99);

/* ----- Mixin ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }
    #{$property}: $value;
}


footer {
  display: flex;
  flex-direction: column;

  ul {
    list-style-type: none;
  }
}

#media a {
  margin-right: 1em;
  margin-left: 1em;
  color: rgba(255, 255, 255, 0.8);
}

#copyright {
  background-color: #11111D;
  color: white;
}

#copyright p {
  font-size: 0.8em;
  text-align: center;
  margin: 2em 0;
}

#links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
  font-size: 0.9em;
  padding: 0 5em;
}

#links a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

#links a:hover {
  color: white;
  font-weight: 300;
}

#logo_social {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  margin-bottom: 3em;
  align-items: center;
  padding: 0 4em;
}

#logo_social img {
  width: 10em;
}

#media {
  display: flex;
  justify-content: space-between;
  padding: 0;
  font-size: 1.2em;
}

#media i:hover {
  color: white;
  @include property_complex(transform, rotate(5deg), o moz webkit ms khtml);
}
#newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  background: -o-linear-gradient(to bottom right, rgba(51,204,204,0.1), #3cc);
  background: -moz-linear-gradient(to bottom right, rgba(51,204,204,0.1), #3cc);
  background: -webkit-linear-gradient(to bottom right, rgba(51,204,204,0.1), #3cc);
  background: -ms-linear-gradient(to bottom right, rgba(51,204,204,0.1), #3cc);
  background: -khtml-linear-gradient(to bottom right, rgba(51,204,204,0.1), #3cc);
  background: linear-gradient(to bottom right, rgba(51,204,204,0.1), #3cc);
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#newsletter form {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

#newsletter h4 {
  margin-right: 5em;
  font-size: 1.1em;
  font-weight: bold;
  margin-block-end: 1em;
  margin-block-start: 1em;
  font-family: "Rubik", "Roboto", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

#newsletter img {
  margin-left: 0;
  width: 5%;
  position: relative;
  right: 2em;
  margin: 0;
  cursor: pointer;
}

#newsletter-button-submit {
  position: absolute;
  right: 0;
}

.icon-newsletter-inscription {
  font-size: 1.3em;
  padding: 5px;
}

.icon-newsletter-inscription:hover {
  color: #f63;
}

#newsletter input {
  margin-right: 0;
  width: 100%;
  @include property_complex(border-radius, 5px, o moz webkit ms khtml);
  @include property_complex(box-shadow, 1px 1px 3px rgba(0,0,0,0.7), o moz webkit ms khtml);
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  font-family: "Roboto", arial, sans-serif;
}

#newsletter input:focus {
  outline-style: none;
  @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
  @include property_complex(box-shadow, 1px 3px 5px rgba(0,0,0,0.8), o moz webkit ms khtml);
}

#top_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  background: -o-linear-gradient(#333366, #1A1A33);
  background: -moz-linear-gradient(#333366, #1A1A33);
  background: -webkit-linear-gradient(#333366, #1A1A33);
  background: -ms-linear-gradient(#333366, #1A1A33);
  background: -khtml-linear-gradient(#333366, #1A1A33);
  background: linear-gradient(#333366, #1A1A33);
  padding: 0;
}

@media(max-width: 950px) {
  #links {
    padding: 0 2em;
  }
}

@media(max-width: 900px) {
  #links {
    flex-direction: column;
    align-items: center;
  }

  #links li {
    margin-bottom: 1em;
  }

  #logo_social {
    flex-direction: column;
  }

  #logo_social img {
    margin-bottom: 2em;
  }

  #newsletter {
    flex-direction: column;
    padding: 0;
  }

  #newsletter h4 {
    margin-right: auto;
    margin-left: auto;
  }

  #newsletter form {
    width: auto;
    margin-bottom: 1em;
  }
}
