#drone-historique {

   #banniere {
      .img-banniere-historique {
         background-image: url(../img/drone-historique.jpg);
      }
   }
   
   .row {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
   }
   
   .col-lg-12 {
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      top: 12px;
   }
   
   .timeline-heading h4 {
      text-align: none !important;
   }
   
   h2 {
      font-weight: 700 !important;
      line-height: 1.2 !important;
      font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
   }
   
   .text-muted {
      color: #6c757d !important;
   }
   
   .rounded-circle {
      border-radius: 50% !important;
   }
   
   .img-fluid {
      max-width: 100%;
      height: auto;
   }
   
   img {
      vertical-align: middle;
      border-style: none;
   }
   
   @media (min-width: 1200px) {
      .timeline>li .timeline-panel {
         padding: 0 20px 20px 100px;
      }
   }
   
   @media (min-width: 768px) {
      .timeline>li .timeline-panel {
         float: left;
         width: 41%;
         padding: 0 20px 20px 30px;
         text-align: right;
      }
   }
   
   *,
   ::after,
   ::before {
      box-sizing: border-box;
   }
   
   *,
   ::after,
   ::before {
      box-sizing: border-box;
   }
   
   .timeline {
      list-style: none;
   }
   
   
   @media (min-width: 992px) {
      .col-lg-12 {
         flex: 0 0 100%;
         max-width: 100%;
      }
   }
   
   .timeline>li .timeline-image {
      position: absolute;
      z-index: 100;
      left: 0;
      width: 80px;
      height: 80px;
      margin-left: 0;
      text-align: center;
      color: #fff;
      border: 7px solid #e9ecef;
      border-radius: 100%;
      background-color: #f63;
   }
   
   *,
   ::after,
   ::before {
      box-sizing: border-box;
   }
   
   .timeline>li:after {
      clear: both;
   }
   
   .timeline>li:after,
   .timeline>li:before {
      display: table;
      content: ' ';
   }
   
   @media (min-width: 768px) {
      .timeline>li .timeline-panel {
         text-align: right;
      }
   }
   
   /*!
    * Start Bootstrap - Agency v5.2.2 (https://startbootstrap.com/template-overviews/agency)
    * Copyright 2013-2019 Start Bootstrap
    * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-agency/blob/master/LICENSE)
    */

      p {
         line-height: 1.75
      }
   
      .text-primary {
         color: #f63 !important
      }
   
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
         font-weight: 700;
         font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'
      }
   
      .page-section {
         padding: 100px 0
      }
   
      .section-heading {
         font-size: 40px;
         margin-top: 0;
         margin-bottom: 15px
      }
   
      .section-subheading {
         font-size: 16px;
         font-weight: 400;
         font-style: italic;
         margin-bottom: 75px;
         text-transform: none;
         font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'
      }
   
      .text-center {
         text-align: center !important;
      }
   
      ::-moz-selection {
         background: #f63;
         text-shadow: none
      }
   
      ::selection {
         background: #f63;
         text-shadow: none;
      }
   
      img::-moz-selection {
         background: 0 0
      }
   
      img::selection {
         background: 0 0
      }
   
      img::-moz-selection {
         background: 0 0
      }
   
      .btn {
         font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
         font-weight: 700
      }
   
      .btn-xl {
         font-size: 18px;
         padding: 20px 40px
      }
   
      .btn-primary {
         background-image: url("assets/img/drone1.jpg");
         border-color: #fed136
      }
   
      .btn-primary:active,
      .btn-primary:focus,
      .btn-primary:hover {
         background-color: #f63 !important;
         border-color: #fec810 !important;
         color: #fff
      }
   
      .btn-primary:active,
      .btn-primary:focus {
         box-shadow: 0 0 0 .2rem rgba(254, 209, 55, .5) !important
      }
   
      #mainNav {
         background-color: #212529
      }
   
      #mainNav .navbar-toggler {
         font-size: 12px;
         right: 0;
         padding: 13px;
         text-transform: uppercase;
         color: #fff;
         border: 0;
         background-color: #fed136;
         font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'
      }
   
      #mainNav .navbar-brand {
         color: #fed136;
         font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'
      }
   
      #mainNav .navbar-brand.active,
      #mainNav .navbar-brand:active,
      #mainNav .navbar-brand:focus,
      #mainNav .navbar-brand:hover {
         color: #fec503
      }
   
      #mainNav .navbar-nav .nav-item .nav-link {
         font-size: 90%;
         font-weight: 400;
         padding: .75em 0;
         letter-spacing: 1px;
         color: #fff;
         font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'
      }
   
      #mainNav .navbar-nav .nav-item .nav-link.active,
      #mainNav .navbar-nav .nav-item .nav-link:hover {
         color: #fed136
      }
   
      @media (min-width:992px) {
         #mainNav {
            padding-top: 25px;
            padding-bottom: 25px;
            transition: padding-top .3s, padding-bottom .3s;
            border: none;
            background-color: transparent
         }
   
         #mainNav .navbar-brand {
            font-size: 1.75em;
            transition: all .3s
         }
   
         #mainNav .navbar-nav .nav-item .nav-link {
            padding: 1.1em 1em !important
         }
   
         #mainNav.navbar-shrink {
            padding-top: 0;
            padding-bottom: 0;
            background-color: #212529
         }
   
         #mainNav.navbar-shrink .navbar-brand {
            font-size: 1.25em;
            padding: 12px 0
         }
      }
   
      header.masthead {
         text-align: center;
         color: #fff;
         background-image: url(../img/header-bg.jpg);
         background-repeat: no-repeat;
         background-attachment: scroll;
         background-position: center center;
         background-size: cover
      }
   
      header.masthead .intro-text {
         padding-top: 150px;
         padding-bottom: 100px
      }
   
      header.masthead .intro-text .intro-lead-in {
         font-size: 22px;
         font-style: italic;
         line-height: 22px;
         margin-bottom: 25px;
         font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'
      }
   
      header.masthead .intro-text .intro-heading {
         font-size: 50px;
         font-weight: 700;
         line-height: 50px;
         margin-bottom: 25px;
         font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'
      }
   
      @media (min-width:768px) {
         header.masthead .intro-text {
            padding-top: 300px;
            padding-bottom: 200px
         }
   
         header.masthead .intro-text .intro-lead-in {
            font-size: 40px;
            font-style: italic;
            line-height: 40px;
            margin-bottom: 25px;
            font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'
         }
   
         header.masthead .intro-text .intro-heading {
            font-size: 75px;
            font-weight: 700;
            line-height: 75px;
            margin-bottom: 50px;
            font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'
         }
      }
   
      .service-heading {
         margin: 15px 0;
         text-transform: none
      }
   
      .timeline {
         position: relative;
         padding: 0;
         list-style: none
      }
   
      .timeline:before {
         position: absolute;
         top: 0;
         bottom: 0;
         left: 40px;
         width: 2px;
         margin-left: -1.5px;
         content: '';
         background-color: #e9ecef
      }
   
      .timeline>li {
         position: relative;
         min-height: 50px;
         margin-bottom: 50px
      }
   
      .timeline>li:after,
      .timeline>li:before {
         display: table;
         content: ' '
      }
   
      .timeline>li:after {
         clear: both
      }
   
      .timeline>li .timeline-panel {
         position: relative;
         float: right;
         width: 100%;
         padding: 0 20px 0 100px;
         text-align: left
      }
   
      .timeline>li .timeline-panel:before {
         right: auto;
         left: -15px;
         border-right-width: 15px;
         border-left-width: 0
      }
   
      .timeline>li .timeline-panel:after {
         right: auto;
         left: -14px;
         border-right-width: 14px;
         border-left-width: 0
      }
   
      .timeline>li .timeline-image {
         position: absolute;
         z-index: 100;
         left: 0;
         width: 80px;
         height: 80px;
         margin-left: 0;
         text-align: center;
         color: #fff;
         border: 7px solid #e9ecef;
         border-radius: 100%;
         background-color: #f63
      }
   
      .timeline>li .timeline-image h4 {
         font-size: 10px;
         line-height: 14px;
         margin-top: 12px
      }
   
      .timeline>li.timeline-inverted>.timeline-panel {
         float: right;
         padding: 0 20px 0 100px;
         text-align: left
      }
   
      .timeline>li.timeline-inverted>.timeline-panel:before {
         right: auto;
         left: -15px;
         border-right-width: 15px;
         border-left-width: 0
      }
   
      .timeline>li.timeline-inverted>.timeline-panel:after {
         right: auto;
         left: -14px;
         border-right-width: 14px;
         border-left-width: 0
      }
   
      .timeline .timeline-heading h4 {
         margin-top: 0;
         color: inherit
      }
   
      .timeline .timeline-heading h4.subheading {
         text-transform: none
      }
   
      .timeline .timeline-body>p,
      .timeline .timeline-body>ul {
         margin-bottom: 0
      }
   
      @media (min-width:768px) {
         .timeline:before {
            left: 50%
         }
   
         .timeline>li {
            min-height: 100px;
            margin-bottom: 100px
         }
   
         .timeline>li .timeline-panel {
            float: left;
            width: 41%;
            padding: 0 20px 20px 30px;
            text-align: right
         }
   
         .timeline>li .timeline-image {
            left: 50%;
            width: 100px;
            height: 100px;
            margin-left: -50px
         }
   
         .timeline>li .timeline-image h4 {
            font-size: 13px;
            line-height: 18px;
            margin-top: 16px
         }
   
         .timeline>li.timeline-inverted>.timeline-panel {
            float: right;
            padding: 0 30px 20px 20px;
            text-align: left
         }
      }
   
      @media (min-width:992px) {
         .timeline>li {
            min-height: 150px
         }
   
         .timeline>li .timeline-panel {
            padding: 0 20px 20px
         }
   
         .timeline>li .timeline-image {
            width: 150px;
            height: 150px;
            margin-left: -75px
         }
   
         .timeline>li .timeline-image h4 {
            font-size: 18px;
            line-height: 26px;
            margin-top: 30px
         }
   
         .timeline>li.timeline-inverted>.timeline-panel {
            padding: 0 20px 20px
         }
      }
   
      @media (min-width:1200px) {
         .timeline>li {
            min-height: 170px
         }
   
         .timeline>li .timeline-panel {
            padding: 0 20px 20px 100px
         }
   
         .timeline>li .timeline-image {
            width: 170px;
            height: 170px;
            margin-left: -85px
         }
   
         .timeline>li .timeline-image h4 {
            margin-top: 40px
         }
   
         .timeline>li.timeline-inverted>.timeline-panel {
            padding: 0 100px 20px 20px
         }
      }
   
}